html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 22px;
  font-weight: 300;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  font-family: Mada;
  padding: 0;
  margin: 0;
}
h1 {
  font-family: Homenaje;
  font-size: 58px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
}
h2 {
  font-family: Homenaje;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -1.25px;
  color: #2d2d2d;
}
p,
h1,
h2,
a {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: white;
}
/*hero*/
.hero {
  background-image: -webkit-linear-gradient(
      129deg,
      rgb(255, 174, 19, 0.9) 0%,
      rgb(51, 161, 21, 0.9) 60%,
      rgb(16, 24, 30, 0.9) 100%
    ),
    url("img/chips-circuit.png");
  background-image: -o-linear-gradient(
      129deg,
      rgb(255, 174, 19, 0.9) 0%,
      rgb(51, 161, 21, 0.9) 60%,
      rgb(16, 24, 30, 0.9) 100%
    ),
    url("img/chips-circuit.png");
  background-image: linear-gradient(
      -39deg,
      rgb(255, 174, 19, 0.9) 0%,
      rgb(51, 161, 21, 0.9) 60%,
      rgb(16, 24, 30, 0.9) 100%
    ),
    url("img/chips-circuit.png");
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  min-height: 500px;
  max-height: 650px;
}
.hero-img {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
}
.hero-img::after {
  position: absolute;
  content: "";
  background-image: url(img/rectangle.png);
  opacity: 0.34;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.hero-container {
  height: 100%;
  max-width: 1200px;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}
.hero-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.hero-menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.hero-menu i {
  display: block;
  color: white;
  font-size: 40px;
  position: relative;
  z-index: 100;
  margin-right: 50px;
}
.hero-logo-container {
  text-align: center;
  margin-left: 50px;
  width: 96px;
  border-top: 9px solid #62c017;
}
.hero-logo {
  margin: 20px 0 0 0;
}
.hero-menu-items {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  list-style: none;
  position: absolute;
  padding: 75px 0 0 0;
  top: 0;
  right: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#070707),
    color-stop(#242323),
    color-stop(#3e3d3d),
    color-stop(#5a5857),
    to(#767674)
  );
  background-image: -webkit-linear-gradient(
    left top,
    #070707,
    #242323,
    #3e3d3d,
    #5a5857,
    #767674
  );
  background-image: -o-linear-gradient(
    left top,
    #070707,
    #242323,
    #3e3d3d,
    #5a5857,
    #767674
  );
  background-image: linear-gradient(
    to right bottom,
    #070707,
    #242323,
    #3e3d3d,
    #5a5857,
    #767674
  );

  margin: 0;
}
.hero-menu-item {
  width: 200px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}
.hero-menu-item:last-child {
  border-right: none;
}
.hero-menu-item a:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
}
.hero-title {
  margin: 150px auto 0 auto;
  max-width: 320px;
  text-align: center;
}
.hero-title h1 {
  font-family: Homenaje;
  font-weight: 400;
  line-height: 60px;
  color: white;
  letter-spacing: -0.26px;
}

.hero-title span {
  color: #2d2d2d;
}
.cookies {
  display: block;
  position: fixed;
  bottom: 0;
  background-color: rgba(34, 34, 34, 0.83);
  width: 100%;
  z-index: 100;
}
.cookies-disabled {
  display: none;
}
.cookies-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100px;
}
.cookies img {
  width: 39px;
  height: 47px;
  margin-left: 10px;
  min-width: 39px;
  min-height: 47px;
}
.cookies-text {
  margin: 0 10px;
  max-width: 683px;
  font-size: 14px;
  color: white;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0.35px;
  text-align: justify;
}
.cookies-text a {
  color: #62c017;
  text-decoration: underline;
  font-family: "Mada - Regular";
  letter-spacing: 0.35px;
}
.cookies-close {
  min-width: 80px;
  background-color: #62c017;
  height: 23px;
  color: white;
  border: none;
  font-weight: 300;
  margin-right: 10px;
}
.cookies-close:hover {
  cursor: pointer;
  background-color: #51b006;
}

/*section mission*/
#mission {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#mission h2 {
  margin-top: 85px;
}
.mission-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 730px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5px;
}
#mission p {
  color: #3c3c3c;
  margin: 50px 0 150px 10px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.55px;
}
#mission img {
  width: 29px;
  height: 23px;
  margin-top: 45px;
  min-width: 29px;
  min-height: 23px;
}

/* section clients*/
#clients {
  background-image: url(img/trianglify.png);
  background-size: cover;
}
#clients h2 {
  color: white;
  padding-top: 50px;
}
.clients-container {
  margin: 20px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.clients-phone {
  width: 314px;
  height: 376px;
}
.clients-slide-container {
  max-width: 500px;
  min-height: 210px;
  padding: 0 5px;
}
.clients-slide-content {
  max-width: 470px;
}
.clients-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.clients-slide img {
  width: 29px;
  height: 23px;
  margin-right: 10px;
  min-width: 29px;
  min-height: 23px;
}

.clients-slide-text {
  color: #3c3c3c;
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.75px;
}
.clients-slide-author {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #1c1b1b;
  letter-spacing: -0.55px;
}
.clients-slide-author a {
  text-decoration: underline;
  color: white;
}
.clients-slide-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}
.clients-slide-feature {
  margin: 2px;
  border: 1px solid white;
  opacity: 0.7;
}
.clients-slide-feature p {
  color: white;
  font-size: 15px;
  padding: 3px;
  opacity: 0.7;
}
.clients-slider-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
  margin-left: 50px;
}
.clients-slider-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.5;
  margin: 10px;
  cursor: pointer;
}
.dot-active {
  opacity: 1;
}

/* products */
#products {
  max-width: 1200px;
  margin: 50px auto 150px auto;
}
#products .products-text {
  text-align: center;
  margin: 30px auto 90px auto;
}
.products-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.product-content {
  position: relative;
  width: 176px;
  text-align: center;
  margin: 10px;
}
#products img {
  position: relative;
  cursor: pointer;
  height: auto;
  margin: 10px;
}
#products .img-active {
  z-index: 2;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.product-under {
  display: none;
  background-color: #62c017;
  position: absolute;
  top: -20px;
  cursor: pointer;
  z-index: 1;
}
#products .product-under-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product-under p {
  margin: 180px 10px 20px 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.35px;
  color: white;
}

/* section map */
.map {
  background-image: none;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #f1f1f1;
}
.map-container {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 auto;
}
.map-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}
.map-compas {
  width: 33px;
  height: 33px;
  min-width: 33px;
  min-height: 33px;
}
.map-europe {
  width: 100%;
  background-image: url(img/europe.png);
  background-position: right bottom;
  background-size: cover;
  min-width: 100px;
}
.map-location {
  margin-left: 10px;
  max-width: 235px;
}
.map-location p {
  letter-spacing: -0.55px;
  color: #2d2d2d;
  line-height: 16px;
  font-size: 14px;
}

/* section contact */
#contact {
  background-color: #f9f9f9;
}
.contact-container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.contact-header {
  padding-top: 80px;
  margin: 0px 10px 70px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.contact-header h2 {
  margin: 0 5px;
  color: #2d2d2d;
}
.contact-button {
  background-color: #62c017;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact-button a {
  color: white;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Homenaje;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.55px;
}
.contact-button a span {
  font-size: 14px;
}
.contact-text {
  max-width: 760px;
  margin: 30px auto;
  color: #373737;
  padding: 0 5px;
}
#contact form {
  max-width: 770px;
  margin: 50px auto 0 auto;
  padding-bottom: 80px;
  line-height: 42px;
  color: #373737;
  padding: 0 5px;
}
#contact form .label-input {
  letter-spacing: -0.75px;
  font-size: 30px;
}
#contact form input[type="text"],
#contact form input[type="email"],
#contact form input[type="tel"] {
  border: none;
  border-bottom: 1px solid black;
  width: 200px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.35px;
  background-color: #f9f9f9;
  position: relative;
  top: -5px;
  outline: none;
}
.checkbox-container {
  margin: 30px 0;
}
#contact form input[type="checkbox"] {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.label-checkbox {
  font-size: 18px;
  letter-spacing: -0.45px;
  line-height: 20px;
}
.checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#contact form button[type="submit"] {
  margin: 30px 0;
  padding: 0 10px;
  height: 42px;
  background-color: #62c017;
  border: none;
  color: #ffffff;
  font-family: Homenaje;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.55px;
  cursor: pointer;
}
.button-submit {
  text-align: center;
}

/* footer */
footer {
  background-color: #242424;
}
.footer-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 5px;
}
.footer-container p {
  color: #8f8f8f;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.4px;
}

@media (orientation: landscape) {
  .hero-title {
    margin: 100px auto 0 auto;
  }
}
@media (min-width: 580px) {
  .map-location p {
    line-height: 18px;
    font-size: 16px;
  }
  #mission p {
    font-size: 22px;
    line-height: 40px;
  }
  .contact-header h2 {
    margin-left: 70px;
  }
  h2 {
    font-size: 50px;
  }
  #clients h2 {
    padding-top: 100px;
  }
}

@media (min-width: 800px) {
  .map-location p {
    line-height: 20px;
    font-size: 18px;
  }
  #clients h2 {
    padding-top: 150px;
  }
}
@media (min-width: 830px) {
  .clients-slide-container {
    min-height: 320px;
  }
  .clients-slide-text {
    font-size: 30px;
    line-height: 42px;
  }
  .clients-slide-author {
    font-size: 22px;
    line-height: 26px;
  }
}
@media (min-width: 900px) {
  .hero-logo-container {
    margin: 0 110px 0 10px;
    text-align: center;
    width: 96px;
    border-top: 9px solid #62c017;
  }
  .hero-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
  }
  .hero-menu i {
    display: none;
  }
  .hero-menu-items {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    list-style: none;
    margin: 20px;
    padding: 0;
    background: none;
    position: relative;
  }
  .hero-menu-item {
    width: 140px;
    height: 54px;
    border-right: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hero-menu-item:last-child {
    border-right: none;
  }
  .hero-menu-item a:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
  }
}
@media (min-width: 1050px) {
  .map {
    background-image: url(img/europe.png);
  }
  .map-europe {
    display: none;
  }
  .map-company {
    padding: 100px 0 150px 20px;
  }
  .map-location p {
    line-height: 24px;
    font-size: 22px;
  }
}
